streamlit
dotenv
pytube
requests
langchain==0.0.96
chromadb
openai
Assembly AI


//Note
 
** For Assembly AI API we use the token key that are we get from Assembly AI website
** Also For OPEN AI we use the token key that are we get from OPEN AI website.
** These keys are important to put in the dotenv file. Also authorization key is equal to the Assembly AI key. 


// To run the project
** Enable virtual environment - .venv/Scripts/Activate.ps1
** To run the application - streamlit run app.py